@import url(//mcansh.github.io/yeezy-logo-font/assets/css/font.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  margin: 0; }

body {
  font-family: "Yeezy";
  color: white; }

::-moz-selection {
  background: #635E5A; }

::selection {
  background: #635E5A; }

/* Just in case */
.blur {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px); }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  weight: 100vw;
  background-image: url(../img/kanye.png);
  background-position: center;
  background-size: cover;
  line-height: 2em; }
  header h1 {
    padding: 20px 40px;
    border-radius: 3px;
    font-size: 3em;
    color: white; }
  header p {
    font-weight: bold; }
  header .social {
    font-size: 2.5em; }
    header .social a {
      color: rgba(255, 255, 255, 0.7);
      -webkit-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
    header .social .fa {
      margin: 0 10px; }
    header .social .twitter:hover {
      color: #55acee; }
    header .social .instagram:hover {
      color: #3f729b; }
