doctype html
html(lang="en")
  head
    title Justin
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Justin's personal landing page")
    meta(name="keywords", content="Justin's personal landing page")
    //- meta(name="author", content="Logan McAnsh")
    meta(name="author", content="Justin Joseph")
    meta(name="theme-color", content="######")
    link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet", href="css/style.css")
  body
    header
      h1 Justin
      h2 This is a gods dream
      p Shoes // Red Bull // Cars
      
      .social
        a.twitter(href="https://twitter.com/justinistech")
          i.fa.fa-twitter
        a.instagram(href="https://instagram.com/jtn78")
          i.fa.fa-instagram
        
